fastapi
uvicorn[standard]
streamlit
pinecone-client
requests
python-multipart
pydantic
pdfplumber
python-docx
transformers
sentence-transformers
torch
accelerate
tqdm
huggingface_hub


